
    .blog-card-sections{
    border: 2px solid black;
    display:flex;
        justify-content:center;
        align-items:center;
       flex-wrap: wrap;
       gap: 4rem;
    }
    .blogs-card-section{
        display:flex;
        justify-content:space-between;
        align-items:center;
        
    }
   .blogs-details{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    text-align: center;
    gap:0.5rem;
    width: 300px;
    height: 400px;
    

   }
   .blog-image{
    width: 300px;
    height:200px;
    border-radius:15px;
    overflow:hidden;
    background-size:cover;
    background-position:center;
   }
   .blog-details-section{
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    border: 2px solid black;
    border-radius: 15px;
    width: 300px;
    min-height: 130px;
    gap:0.5rem;
   }
   .blogs-title{
    display: flex;
    justify-content:center;
    align-items:center;
    font-weight: 600;
    font-size: 2rem;
    text-decoration: underline;
    text-decoration-color: black;
   }
   .blog-title{
    display: flex;
    justify-content:center;
    align-items:center;
    font-weight: 600;
    font-size: 1.5rem;
   }
   .blog-content{
    display: flex;
    justify-content:center;
    align-items:center;
    font-weight: 500;
    font-size: 1.2rem;
   }

   .view-more{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight:600;
    font-size:1.5rem;
    color:white;
    background-color: black;
    padding:0.2rem;
    border-radius:15px;
    text-decoration: none;
    
   }